*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
}
body{
    background-color: antiquewhite;
}
#pictures {
    max-width: 62%;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
#pictures .images{
    width: 250px;
    height: 200px;
    object-fit: cover;
}
.pagination {
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 10px;
}
.pagination li {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 1px;
}
.pagination li:hover{
    color: white;
    background-color: black;
    transition: 0.2s;
}
.pagination .active {
    background-color: black;
    color: #fff;

}